@model HRMS.Models.TravelStatus
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<link href="~/Content/New%20Design/travel.css" rel="stylesheet" />
<script src="~/Scripts/New%20Design/common.js"></script>
<script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
<script src="../../Scripts/Global.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).click(function (e) {
        if (!$(e.target).is('.EmpLink')) {
            $("#PopUpOfEmpInfoTravel").fadeOut();
        }
    });
    $(document).ready(function () {
        $(".Title").hide();

        $("#btnShowStatusTravel").click(function () {
            //jQuery("#TravelShowStatusTable").trigger("reloadGrid");
            $("#TravelShowStatusTable").jqGrid("setGridParam", { datatype: "json" }).trigger("reloadGrid");
            $('#ShowStatusTravelDialog').dialog({
                autoOpen: true,
                modal: true,
                width: 1000,
                resizable: true,
                title: "Show Status"
            });
        });

        $("#TravelField").change(function () {
            //            if ($("#TravelField").val() != "") {
            //                var url = "GetFieldChildDetailsList/Travel";
            //                $("#FieldChild").show();
            //                $.getJSON(url, { TravelField: $("#TravelField").val() }, function (data) {
            //                    //Clear the Model list
            //                    $("#FieldChild").empty();
            //                    $("#FieldChild").append("<option value='" + "" + "'>" + "" + "</option>");
            //                    //Foreach Model in the list, add a model option from the data returned
            //                    $.each(data, function (index, optionData) {

            //                        $("#FieldChild").append("<option value='" + optionData.Id + "'>" + optionData.Description + "</option>");
            //                    });
            //                });
            //            } else {
            //                $("#FieldChild").val("");
            //                $("#FieldChild").hide();
            //            }
            if ($("#TravelField").val() != "") {
                if ($("#TravelField").val() == "Business Group") {
                    $('#FieldChildListTravelBG').show();
                    $('#FieldChildListTravelOU').hide();
                    $('#FieldChildListTravelSN').hide();
                }
                if ($("#TravelField").val() == "Organization Unit") {
                    $('#FieldChildListTravelBG').hide();
                    $('#FieldChildListTravelOU').show();
                    $('#FieldChildListTravelSN').hide();
                }
                if ($("#TravelField").val() == "Stage Name") {
                    $('#FieldChildListTravelBG').hide();
                    $('#FieldChildListTravelOU').hide();
                    $('#FieldChildListTravelSN').show();
                }
            } else {
                $("#TravelField").val("");
                $("#TravelField").hide();
            }
        });

        $("#txtSearchEmployee").autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("SearchEmployeeAutoSuggest", "EmployeeDetails")', { term: request.term }, function (data) {
                    response($.map(data, function (el) {
                        var emplyeeInformation = el.EmployeeName + "{" + el.EmployeeCode + "}";
                        return {
                            label: emplyeeInformation,
                            value: el.EmployeeName
                        };
                    }));
                });
            }
        });

        $("#Field").change(FieldDDLChange);

        $('#BackPrevious').click(function () {
            window.location.href = "/Travel/Index";
        });

        $('#Travelreport').click(function () {

            travelReportforAllApprovedRequestShow();
        });

        function travelReportforAllApprovedRequestShow() {

            //var TravelId = '@ViewBag.TravelID';
            DisplayLoadingDialog(); // Checked global.js
            $.ajax({
                url: '@Url.Action("TravelStatusReportForAllEmployee", "Travel")',
                type: 'GET',
                async: true,
                //                data: { TravelId: TravelId },
                success: function (results) {

                    $("#TravelReportDetails").empty().append(results);
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    $("#TravelReportDetails").dialog({
                        closeOnEscape: false,
                        resizable: false,
                        height: '700',
                        width: 1600,
                        title: "Travel Status Report",
                        close: function (event, ui) {
                            $("#TravelReportDetails").dialog("destroy");
                        }
                    });
                }
            });
        }

        $("#btnHeaderShowDetails").click(function () {
            $("#jqInboxTable").jqGrid("setGridParam", { datatype: "json" }).trigger("reloadGrid");
            $("#jqWatchListTable").jqGrid("setGridParam", { datatype: "json" }).trigger("reloadGrid");
        });

        $("#travelIdToPassOnLinkClick").val(0);

        $("#btnFillFormTravel").click(function () {
            if (TravelNumber.indexOf(".") > 0) {
                window.location.href = '@Url.Action("GetTravelFormDetails", "Travel")?IsNewForm=' + false + '&EncryptedTravelID=' + $("#travelIdToPassOnLinkClick").val() + '&viewDetails=' + 'Ext';
            }
            else {
                window.location.href = '@Url.Action("GetTravelFormDetails", "Travel")?IsNewForm=' + false + '&EncryptedTravelID=' + $("#travelIdToPassOnLinkClick").val() + '&viewDetails=' + 'NoExt';
            }
        });

        $('#btnShowDetailsTravel').click(function () {
            window.location.href = '@Url.Action("GetTravelFormDetails", "Travel")?IsNewForm=' + false + '&EncryptedTravelID=' + $("#travelIdToPassOnLinkClick").val() + '&viewDetails=' + 'yes';
        });

        $("#jqWatchListTable").jqGrid({
            // Ajax related configurations
            url: '@Url.Action("LoadWatchListGrid", "Travel")',
            datatype: "json",
            mtype: "POST",
            postData: {
                employeeId: function () { return '@ViewBag.EncryptedEmployeeId'; },
                term: function () { return $("#txtSearchEmployee").val(); },
                Field: function () { return $("#TravelField").val(); },
                FieldChild: function () { if ($("#TravelField").val() == "Business Group") return $("#DDFieldChildListTravelBG").val(); if ($("#TravelField").val() == "Organization Unit") return $("#FieldChildListTravelOU").val(); if ($("#TravelField").val() == "Stage Name") return $("#DDFieldChildListTravelSN").val(); if ($("#TravelField").val() == "") return ""; }
            },
            // Specify the column names
            colNames: ["StageId", "Reporting To", "Field", "TravelStageOrder", "TravelId", "EncryptedTravelId", "EncryptedEmployeeId", "EmployeeId", "Travel Request Number", "Employee Name", "Status", "Stage"],

            // Configure the columns
            colModel: [
                { name: "StageId", index: "StageId", hidden: true, width: 100, align: "left" },
                { name: "ReportingTo", index: "ReportingTo", hidden: true, width: 100, align: "left" },
                { name: "Field", index: "Field", hidden: true, width: 100, align: "left" },
                { name: "TravelStageOrder", index: "TravelStageOrder", hidden: true, width: 100, align: "left" },
                { name: "TravelId", index: "TravelId", hidden: true, width: 100, align: "left" },
				{ name: "EncryptedTravelId", index: "EncryptedTravelId", hidden: true, width: 100, align: "left" },
                { name: "EncryptedEmployeeId", index: "EncryptedEmployeeId", hidden: true, width: 100, align: "left" },
                { name: "EmployeeId", index: "EmployeeId", hidden: true, width: 100, align: "left" },
                 { name: "TravelRequestNumber", index: "TravelRequestNumber", formatter: formatlink, width: 100, sortable: true, align: "left", sorttype: "int" },
                 { name: "Employeename", index: "Employeename", width: 100, align: "left" },
                  { name: "Status", index: "Status", width: 100, align: "left", formatter: renderImages },
                { name: "stageName", index: "stageName", width: 100, align: "left" }
            ],

            // Grid total width and height
            width: 700,
            jsonReader: { repeatitems: false },
            toppager: false,
            bottompager: false,
            rowNum: 5,
            rowList: [5, 10, 20],
            viewrecords: true, // Specify if "total number of records" is displayed
            height: 'auto',
            autowidth: false,
            loadonce: true,
            sortable: true,
            pager: $("#jqWatchListDetailsPager"),

            // Grid caption
            //caption: "Watch List"
        }).navGrid("#jqWatchListDetailsPager",
            { search: false, refresh: false, add: false, edit: false, del: false }
        );


        $("#jqInboxTable").jqGrid({
            // Ajax related configurations
            url: '@Url.Action("LoadInboxListGrid", "Travel")',
            datatype: "json",
            mtype: "POST",
            postData: {
                employeeId: function () { return '@ViewBag.EncryptedEmployeeId'; },
                term: function () { return $("#txtSearchEmployee").val(); },
                Field: function () { return $("#TravelField").val(); },
                FieldChild: function () { if ($("#TravelField").val() == "Business Group") return $("#DDFieldChildListTravelBG").val(); if ($("#TravelField").val() == "Organization Unit") return $("#FieldChildListTravelOU").val(); if ($("#TravelField").val() == "Stage Name") return $("#DDFieldChildListTravelSN").val(); if ($("#TravelField").val() == "") return ""; }
            },
            // Specify the column names
            colNames: ["StageId", "Reporting To", "Field", "TravelStageOrder", "TravelId", "EncryptedTravelId", "EncryptedEmployeeId", "EmployeeId", "Travel Request Number", "Employee Name", "Status", "Stage"],

            // Configure the columns
            colModel: [
                { name: "StageId", index: "StageId", hidden: true, width: 100, align: "left" },
                { name: "ReportingTo", index: "ReportingTo", hidden: true, width: 100, align: "left" },
                { name: "Field", index: "Field", hidden: true, width: 100, align: "left" },
                { name: "TravelStageOrder", index: "TravelStageOrder", hidden: true, width: 100, align: "left" },
                { name: "TravelId", index: "TravelId", hidden: true, width: 100, align: "left" },
				{ name: "EncryptedTravelId", index: "EncryptedTravelId", hidden: true, width: 100, align: "left" },
                { name: "EncryptedEmployeeId", index: "EncryptedEmployeeId", hidden: true, width: 100, align: "left" },
                { name: "EmployeeId", index: "EmployeeId", hidden: true, width: 100, align: "left" },
                 { name: "TravelRequestNumber", index: "TravelRequestNumber", formatter: formatlink, width: 100, sortable: true, align: "left", sorttype: "int" },
                 { name: "Employeename", index: "Employeename", width: 100, align: "left" },
                  { name: "Status", index: "Status", width: 100, align: "left", formatter: renderImages },
                { name: "stageName", index: "stageName", width: 100, align: "left" }

            ],

            // Grid total width and height
            width: 700,
            jsonReader: { repeatitems: false },
            toppager: false,
            bottompager: false,
            rowNum: 5,
            rowList: [5, 10, 20],
            viewrecords: true, // Specify if "total number of records" is displayed
            height: 'auto',
            autowidth: false,
            loadonce: true,
            sortable: true,
            pager: $("#jqInboxDetailsPager"),

            // Grid caption
            //caption: "Inbox"
        }).navGrid("#jqInboxDetailsPager",
            { search: false, refresh: false, add: false, edit: false, del: false }
        );

        function renderImages(cellvalue, options, rowobject) {
            var obj = "";
            for (var i = 0; i < 3; i++) {
                if (rowobject['StageId'] >= i) {
                    if ((rowobject['Field'] == "Rejected" && rowobject['StageId'] == i) || (rowobject['Field'] == "Push Back" && rowobject['StageId'] == i)) {
                        switch (i) {
                            case 0:
                                obj = obj + "<img src='../../Images/New Design/status-rejected.png' title='Project Manager Approval Stage' width='31px' height='31px' class='StatusImagesRed'> ";
                                break;

                            case 1:
                                obj = obj + "<img src='../../Images/New Design/status-rejected.png' title='Group Head Approval Stage' width='31px' height='31px' class='StatusImagesRed'> ";
                                break;

                            default:
                                obj = obj + "<img src='../../Images/New Design/status-rejected.png' title='Admin Department Approval Stage' width='31px' height='31px' class='StatusImagesRed'> "; //  Red
                                break;
                        }
                    }
                    else if (rowobject['StageId'] != i) {
                        if (rowobject['StageId'] == 3 && i == 2) {
                            obj = obj + "<img src='../../Images/New Design/status-off.png' width='31px' height='31px' class='StatusImagesGray'> "; //  Yellow
                        }
                        else {
                            switch (i) {
                                case 0:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Project Manager Approval Stage' width='31px' height='31px' class='StatusImagesGreen'> ";
                                    break;

                                case 1:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Group Head Approval Stage' width='31px' height='31px' class='StatusImagesGreen'> ";
                                    break;

                                default:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Approved' width='31px' height='31px' class='StatusImagesGreen'> "; //  Green
                                    break;
                            }
                        }
                    }
                    else {
                        if (rowobject['StageId'] == 7) {
                            switch (i) {
                                case 0:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Project Manager Approval Stage' width='31px' height='31px' class='StatusImagesGreen'> ";
                                    break;

                                case 1:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Group Head Approval Stage' width='31px' height='31px' class='StatusImagesGreen'> ";
                                    break;

                                default:
                                    obj = obj + "<img src='../../Images/New Design/status-on.png' title='Approved' width='31px' height='31px' class='StatusImagesGreen'> "; //  Green
                                    break;
                            }
                        }
                        else {
                            obj = obj + "<img src='../../Images/New Design/status-off.png'  width='31px' height='31px' class='StatusImagesGray'>"; //  Yellow
                        }
                    }
                } else {
                    obj = obj + "<img src='../../Images/New Design/status-off.png'  width='31px' height='31px' class='StatusImagesGray'>"; //  Yellow
                }
            }
            return obj;
        }
    });

    function formatlink(cellvalue, options, rowobject) {
        return "<a href=# id=" + rowobject['TravelId'] + " class=EmpLink onClick = LinkClick(this," + "\"" + rowobject['TravelRequestNumber'] + "\"," + "\"" + rowobject['EncryptedEmployeeId'] + "\"," + "\"" + rowobject['EncryptedTravelId'] + "\"," + rowobject['EmployeeId'] + "," + rowobject['StageId'] + ") class=EmployeeNameLink >" + cellvalue + "</a>";
    }

    function LinkClick(event, TravelRequestNumber, EncryptedEmployeeId, EncryptedTravelId, empId, stageId) {
        TravelNumber = TravelRequestNumber;
        var target = event.id;
        var width = event.offsetWidth;
        var table = $("#" + target).parent().parent().parent().parent();
        var tableid = $(table).attr('id');

        if (tableid == "jqInboxTable") {
            $('#btnFillFormTravel').show();
            $('#btnShowStatusTravel').show();
            $('#btnShowDetailsTravel').hide();
        }

        if (tableid == "jqWatchListTable") {
            $('#btnFillFormTravel').hide();
            $('#btnShowDetailsTravel').show();
            $('#btnShowStatusTravel').show();
        }

        var positionlink = $("#" + target).offset();

        $("#PopUpOfEmpInfoTravel").css({
            top: positionlink.top,
            left: positionlink.left + width + 4,
            position: "fixed"
        }).fadeIn();
        $("#travelIdToPassOnLinkClick").val(EncryptedTravelId);
        $("#travelEmpIdToPassOnLinkClick").val(EncryptedEmployeeId);
        $('#InboxOrWatchListCallTravel').val(tableid);
        $('#EmpIdToPassOnLinkClick').val(empId);
    }




    function FieldDDLChange() {

        if ($("#Field").val() != "") {
            var url = "GetFieldChildDetailsList/Travel";
            $("#FieldChild").show();
            $.getJSON(url, { Field: $("#Field").val() }, function (data) {
                //Clear the Model list
                $("#FieldChild").empty();
                $("#FieldChild").append("<option value='" + "" + "'>" + "" + "</option>");
                //Foreach Model in the list, add a model option from the data returned
                $.each(data, function (index, optionData) {

                    $("#FieldChild").append("<option value='" + optionData.Id + "'>" + optionData.Description + "</option>");
                });
            });
        } else {
            $("#FieldChild").val("");
            $("#FieldChild").hide();
        }
    }

</script>
<div id="ShowStatusTravelDialog" style="display: none; clear: both">
    @{Html.RenderPartial("_TravelShowStatus", Model);}
</div>
<div id="TravelReportDetails" style="display: none; clear: both">
</div>
<span id="InboxOrWatchListCallTravel" style="display: none;"></span>@*<script type="text/javascript">
        $("#txtSearchTravel").keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                searchterm = $("#txtSearchTravel").val();
                jQuery("#jqInboxTable").trigger("reloadGrid");
                jQuery("#jqWatchListTable").trigger("reloadGrid");
            }
        });

        $("#txtSearchTravel").autocomplete({
            source: function (request, response) {
                $.getJSON('SearchEmployeeAutoSuggestTravel/Travel', { term: request.term }, function (data) {
                    response($.map(data, function (el) {
                        var emplyeeInformation = el.EmployeeName + " {" + el.EmployeeCode + "}";
                        return {
                            label: emplyeeInformation,
                            value: el.EmployeeName
                        };
                    }));
                });
            }
        });

    </script>*@
<section class="TravelContainer Container TransparentMainbody">
    <div class="FixedHeader">
        <div class="clearfix">
            <h2 class="MainHeading">
                Travel
            </h2>
        </div>
        <nav class="sub-menu-colored">
            <a id="newReqLink" href="@Url.Action("GetTravelFormDetails", "Travel", new { IsNewForm = true, encryptedTravelId = ViewBag.EncryptedTravelId, viewDetails = "NoExt" })">
                New Request
            </a> <a id="extensionReqLink" href="@Url.Action("GetExtensionStatus", "Travel", new { IsNewForm = true, EncryptedTravelID = "", viewDetails = "Ext" })">
                Extension Request
            </a> <a id="SavedReqLink" href="@Url.Action("GetTravelStatus", "Travel")" class="selected">
                Saved/Submitted Request
            </a>
        </nav>
    </div>
    <div class="MainBody SavesubMainbody">
        <div class="FormContainerBox  Savesub clearfix">
            <div class="fill-dtls clearfix">
                <div class="LabelDiv">
                    <label for="From Date" class="select-type">
                        Employee Name:
                    </label>
                </div>
                <div class="InputDiv">
                    <input type="text" name="searchValue" id="txtSearchEmployee" class="srchinput" height="20px" />
                </div>
                <div class="LabelDiv">
                    <label for="Field" class="select-type">
                        Field:
                    </label>
                </div>
                <div class="InputDiv">
                    @Html.DropDownListFor(model => model.Field, new SelectList(Model.GetFieldList(), "Value", "Text"), "", new { id = "TravelField" })
                </div>
                @*   <div class="InputDiv">
                        @Html.DropDownListFor(model => model.FieldChild, new SelectList(Model.FieldChildList, "Id", "Description", "Select"), "Select", new { style = "display:none;" })
                    </div>*@
                <div class="InputDiv" style="display: none" id="FieldChildListTravelBG">
                    @Html.DropDownListFor(model => model.FieldChild, (SelectList)ViewBag.FieldChildListBG, "Select", new { id = "DDFieldChildListTravelBG" })
                </div>
                <div class="InputDiv" style="display: none" id="FieldChildListTravelOU">
                    @Html.DropDownListFor(model => model.FieldChild, (SelectList)ViewBag.FieldChildListOU, "Select", new { id = "DDFieldChildListTravelOU" })
                </div>
                <div class="InputDiv" style="display: none" id="FieldChildListTravelSN">
                    @Html.DropDownListFor(model => model.FieldChild, (SelectList)ViewBag.FieldChildListSN, "Select", new { id = "DDFieldChildListTravelSN" })
                </div>
                <div class="remain">
                    <button id="btnHeaderShowDetails" type="button" class="ButtonGray">
                        Show
                    </button>
                </div>
            </div>
        </div>
        <h4 class="SmallHead">
            Inbox
        </h4>
        <div class="tablestyle3">
            <table id="jqInboxTable" class="scroll"></table>
            <div id="jqInboxDetailsPager">
            </div>
        </div>
        @*<div class="commondivider mrgnL30 mrgnR30 mrgnT20">
            </div>*@
        <h4 class="SmallHead">
            Watch List
        </h4>
        <div class="tablestyle3 mrgnT20">
            <table id="jqWatchListTable" class="scroll"></table>
            <div id="jqWatchListDetailsPager">
            </div>
        </div>
    </div>
</section>
<div id="PopUpOfEmpInfoTravel" style="display: none;">
    <ul class="exitbutton">
        <li id="btnFillFormTravel" style="display: none;">Fill Form</li>
        <li id="btnShowDetailsTravel" style="display: none;">View Details</li>
        <li id="btnShowStatusTravel" style="display: none;">View Status</li>
    </ul>
    <table>
        <tr style="display: none;">
            <td>
                <span id="travelIdToPassOnLinkClick" style="display: none;"></span>
            </td>
            <td>
                <span id="travelEmpIdToPassOnLinkClick" style="display: none;"></span>
            </td>
        </tr>
    </table>
</div>
