@model HRMS.Models.AddAppraisalRatingScale
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<link href="../../Content/New%20Design/common.css" rel="stylesheet" type="text/css" />
<link href="../../Content/New%20Design/settings.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("../../Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="../../Scripts/Global.min.js" type="text/javascript"></script>
<script src="../../Scripts/Global.min.js" type="text/javascript"></script>
@*@section HeaderLinks{
    @Html.Partial("_Headerlinks", Model.SearchedUserDetails)
}*@

<section class="SettingconfigContainer Container">
    <div class="FixedHeader">
        <div class="clearfix">
            <h2 class="MainHeading">Appraisal</h2>
        </div>
        <nav class="sub-menu-colored">
            <a href="@Url.Action("ConfigureAppraisalYear", "ConfigurationAppraisal")" class="selected">Configure Appraisal Year</a>
            <a href="@Url.Action("AppraisalStatus", "ConfigurationAppraisal")">Appraisal Status</a>
            <a href="@Url.Action("ConfigureAppraisalDetails", "ConfigurationAppraisal")">Configuration</a>
        </nav>
    </div>

<div class="MainBody ProjectIndexbody clearfix">
    <div class="ButtonContainer3">
        <input type="button" class="ButtonGray mrgnR8 addRatingHide" id="SaveRatingScale" value="Save" />
        <input type="button" class="ButtonGray mrgnR8 addRatingHide" id="SaveRatingScaleaddnew" value="Save and Add" />
        <input type="button" class="ButtonGray mrgnR8" id="backbtn" value="Back" />
    </div>

    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmaddAppraisalRating" }))
    {

        @Html.ValidationSummary(true)
        <div class="formPad FormContainerBox clearfix ProjectIndexFliter">
            <div class="leftcol clearfix">
                <div class="formrow clearfix">
                    <div class="LabelDiv">@Html.HiddenFor(x => x.IsAddnew, new { id = "isAdded" })</div>
                    <div class="InputDiv">@Html.HiddenFor(x => x.RatingID)
                        @Html.HiddenFor(x => x.AppraisalYearID)
                        @Html.HiddenFor(x => x.SelectedPercentage)
                    </div>
                </div>
                <div class="formrow clearfix">
                    <div class="LabelDiv">@Html.LabelFor(x => x.Percentage)<span class="mandatory">*</span></div>
                    <div class="InputDiv">@Html.TextBoxFor(x => x.Percentage)
                        @Html.ValidationMessageFor(x => x.Percentage)</div>
                </div>
                <div class="formrow clearfix">
                    <div class="LabelDiv">@Html.LabelFor(x => x.Rating)<span class="mandatory">*</span></div>
                    <div class="InputDiv">@Html.TextBoxFor(x => x.Rating)
                        @Html.ValidationMessageFor(x => x.Rating)</div>
                </div>
                <div class="formrow clearfix">
                    <div class="LabelDiv">@Html.LabelFor(x => x.Description)</div>
                    <div class="InputDiv">@Html.TextAreaFor(x => x.Description)</div>
                </div>
                <div class="formrow clearfix">
                    <div class="LabelDiv">@Html.LabelFor(x => x.AdjustmentFactor)</div>
                    <div class="InputDiv">@Html.TextBoxFor(x => x.AdjustmentFactor)
                    @Html.ValidationMessageFor(x => x.AdjustmentFactor)</div>
                </div>
            </div>
        </div>
    }
</div>
</section>
<script type="text/javascript">
    $(".Title").hide();
    $(document).ready(function () {
        postUrl = '@Url.Action("AddAppraisalRatingScales", "ConfigurationAppraisal")';
        if ('@ViewBag.IsInitiated' == "True") {
            $('#frmaddAppraisalRating').find('input,select,textarea').attr('disabled', true);
            $('.addRatingHide').hide();
        }
    });
    $("#backbtn").click(function () {
        window.location.href = '@Url.Action("AppraisalRatingScale", "ConfigurationAppraisal")?AppraisalYearID=' + '@Model.AppraisalYearID';
    });

    $("#SaveRatingScale").click(function () {
        saveAddRatingScale("btnSave");
    });

    $("#SaveRatingScaleaddnew").click(function () {
        saveAddRatingScale("btnSaveAndAdd");
    });

    function saveAddRatingScale(btnClicked) {
        if ($("#frmaddAppraisalRating").valid()) {
            DisplayLoadingDialog();  //checked
            $.ajax({
                url: postUrl,
                type: 'POST',
                data: $('#frmaddAppraisalRating').serialize(),
                success: function (results) {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    if (results.status == true) {
                        $("#saveRatingSucess").dialog({
                            closeOnEscape: false,
                            resizable: false,
                            height: 'auto',
                            width: 300,
                            modal: true,
                            dialogClass: 'noclose',
                            buttons: {
                                Ok: function () {
                                    if (btnClicked == "btnSave")
                                        window.location.href = '@Url.Action("ConfigureAppraisalRatingScales", "ConfigurationAppraisal")?AppraisalYearID=' + '@Model.AppraisalYearID';
                                    else if (btnClicked == "btnSaveAndAdd")
                                        window.location.href = '@Url.Action("AddAppraisalRatingScales", "ConfigurationAppraisal")?RatingID=' + null + '&AppraisalYearID=' + '@Model.AppraisalYearID';

                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    else if (results.status == "Error") {
                        DisplayErrorDialog("Add/Edit Rating Scale");
                    }
                    else if (results.isRatingScalePresent == true) {
                        $("#ErrorRatings").dialog({
                            closeOnEscape: false,
                            resizable: false,
                            height: 'auto',
                            width: 300,
                            modal: true,
                            dialogClass: 'noclose',
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    else if (results.isRatingPresent == true) {
                        $("#ErrorRating").dialog({
                            closeOnEscape: false,
                            resizable: false,
                            height: 'auto',
                            width: 300,
                            modal: true,
                            dialogClass: 'noclose',
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    else
                        DisplayErrorDialog("Add/Edit Rating Scale");
                },
                error: function () {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    DisplayErrorDialog("Add/Edit Rating Scale");
                }
            });
        }
    }
</script>
<div id="ErrorRatings" style="display: none" title="Error">
    <center class="LoadingWrap">
        The Rating scale is already present.
    </center>
</div>
<div id="ErrorRating" style="display: none" title="Error">
    <center class="LoadingWrap">
        The Rating is already present.
    </center>
</div>
<div id="ErrorDescription" style="display: none" title="Error">
    <center class="LoadingWrap">
        The Rating Description is already present.
    </center>
</div>
<div id="Error" style="display: none" title="Error">
    <center class="LoadingWrap">
        There is some error.
    </center>
</div>
<div id="saveRatingSucess" style="display: none" title="Add Rating Scale">
    <center class="LoadingWrap">
    Rating Scale has been added successfully.
    </center>
</div>