@model HRMS.Models.AddRatingScale
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("../../Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
@*@section HeaderLinks{
    @Html.Partial("_HeaderLinks", Model.SearchedUserDetails)
}*@
<link href="../../Content/New%20Design/common.css" rel="stylesheet" type="text/css" />
<link href="../../Content/New%20Design/settings.css" rel="stylesheet" type="text/css" />
<section class="SettingconfigContainer Container">
    <div class="FixedHeader">
        <div class="clearfix">
            <h2 class="MainHeading">
                Confirmation</h2>
        </div>
        <nav class="sub-menu-colored">
            <a href="@Url.Action("ConfigureParameter", "Confirmation")">Configure Parameter</a>
            <a href="@Url.Action("ConfigureParameterCategories", "Confirmation")">Configure Parameter Categories</a>
            <a href="@Url.Action("ConfigureRatingScales", "Confirmation")" class="selected">Configure Rating Scale</a>
            <a href="@Url.Action("ConfigureParametersRoles", "Confirmation", new { searchstring = string.Empty })">Configure Parameters for Roles</a>
        </nav>
    </div>

<div class="MainBody ProjectIndexbody">
    <div class="clearfix">
        <input type="button" class="BackLink" id="backbtn" value="Back" />
    </div>
<div class=" FormContainerBox clearfix ProjectIndexFliter">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmaddRating" }))
    {
        @Html.ValidationSummary(true)

            <div class=" leftcol">
                @Html.HiddenFor(x => x.IsAddnew, new { id = "isAdded" })
                @Html.HiddenFor(x => x.RatingID)
                <div class="formrow clearfix">
                    <div class="LabelDiv">
                        @Html.LabelFor(x => x.Percentage)<span class="mandatory">*</span>
                    </div>
                    <div class="InputDiv">
                        @Html.TextBoxFor(x => x.Percentage)
                        @Html.ValidationMessageFor(x => x.Percentage)
                    </div>
                </div>
                <div class="formrow clearfix">
                    <div class="LabelDiv">
                        @Html.LabelFor(x => x.Rating)<span class="mandatory">*</span>
                    </div>
                    <div class="InputDiv">
                        @Html.ValidationMessageFor(x => x.Rating)
                        @Html.TextBoxFor(x => x.Rating)
                    </div>
                </div>
                <div class="addperameter-box">
                    <div class="LabelDiv">
                        @Html.LabelFor(x => x.Description)
                    </div>
                    <div class="InputDiv">
                        @Html.TextAreaFor(x => x.Description)
                    </div>
                </div>
        </div>
        <div class=" rightcol">
            <div class="addperameter-box">
                    <div class="LabelDiv">
                        @Html.LabelFor(x => x.AdjustmentFactor)
                    </div>
                    <div class="InputDiv">
                        @Html.ValidationMessageFor(x => x.AdjustmentFactor)
                        @Html.TextBoxFor(x => x.AdjustmentFactor)
                    </div>
                </div>
                <div class="addperameter-box" id="addperameter-box">
                    <div class="LabelDiv">
                        @Html.LabelFor(x => x.SetAsMinimumLimit)
                    </div>
                    <div class="InputDiv">
                        @Html.CheckBoxFor(x => x.SetAsMinimumLimit)
                    </div>
                </div>
        </div>
    }
    </div>
    <div class="ButtonContainer1 clearfix">
        <input type="button" class="ButtonGray mrgnR8" id="SaveRatingScale" value="Save" />
        <input type="button" class="ButtonGray mrgnR8" id="SaveRatingScaleaddnew" value="Save and Add" />
    </div>
</div>
</section>
<script type="text/javascript">
    $.ajaxSetup({
        // Disable caching of AJAX responses
        cache: false
    });
    $("#backbtn").click(function () {
        parent.history.back();
        return false;
        location.reload();
    });

    $("#SaveRatingScale").click(function () {
        var postUrl = '@Url.Action("AddRatingScales", "Confirmation")';
        if ($("#frmaddRating").valid()) {
            $("#loading").dialog(
            {
                closeOnEscape: false,
                resizable: false,
                height: 140,
                width: 300,
                modal: true,
                dialogClass: "noclose"
            });
            $.ajax({
                url: postUrl,
                type: 'POST',
                data: $('#frmaddRating').serialize(),
                success: function (results) {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    if (results.status == true) {
                        window.location.href = '@Url.Action("ConfigureRatingScales", "Confirmation")';
                    }
                    else {
                        $("#ErrorRatings").dialog({
                            closeOnEscape: false,
                            resizable: false,
                            height: 'auto',
                            width: 300,
                            modal: true,
                            dialogClass: 'noclose',
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                },
                error: function () {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    $("#Error").dialog({
                        closeOnEscape: false,
                        resizable: false,
                        height: 'auto',
                        width: 300,
                        modal: true,
                        dialogClass: 'noclose',
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });
        }
    });
    $("#SaveRatingScaleaddnew").click(function () {
        var postUrl = '@Url.Action("AddRatingScales", "Confirmation")';
        if ($("#frmaddRating").valid()) {
            $("#loading").dialog(
            {
                closeOnEscape: false,
                resizable: false,
                height: 140,
                width: 300,
                modal: true,
                dialogClass: "noclose"
            });
            $("#isAdded").val(true);
            $.ajax({
                url: postUrl,
                type: 'POST',
                data: $('#frmaddRating').serialize(),
                success: function (results) {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    if (results.resultMesssage == "addnew") {
                        window.location.href = '@Url.Action("AddRatingScales", "Confirmation")?RatingID=' + null;
                    }
                    else {
                        $("#ErrorRatings").dialog({
                            closeOnEscape: false,
                            resizable: false,
                            height: 'auto',
                            width: 300,
                            modal: true,
                            dialogClass: 'noclose',
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                },
                error: function () {
                    $("#loading").dialog("close");
                    $("#loading").dialog("destroy");
                    $("#Error").dialog({
                        closeOnEscape: false,
                        resizable: false,
                        height: 'auto',
                        width: 300,
                        modal: true,
                        dialogClass: 'noclose',
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });
        }
    });
</script>
<div id="ErrorRatings" style="display: none" title="Error">
    <center class="LoadingWrap">
        The Rating scale is already present.
    </center>
</div>
<div id="Error" style="display: none" title="Error">
    <center class="LoadingWrap">
    There is some error.
</div>